#mapx70y105 > a::after,
#mapx70y108 > a::after,
#mapx71y105 > a::after,
#mapx71y107 > a::after,
#mapx72y106 > a::after,
#mapx73y105 > a::after,
#mapx73y106 > a::after,
#mapx74y104 > a::after {
  content: "Onlo";
}

#mapx50y84 > a::after,
#mapx51y82 > a::after,
#mapx51y85 > a::after,
#mapx55y88 > a::after,
#mapx57y88 > a::after,
#mapx58y88 > a::after,
#mapx58y91 > a::after,
#mapx59y84 > a::after,
#mapx59y88 > a::after,
#mapx59y92 > a::after,
#mapx59y93 > a::after,
#mapx60y87 > a::after,
#mapx60y88 > a::after,
#mapx60y92 > a::after {
  content: "Ektofron";
}

#mapx119y111 > a::after,
#mapx119y114 > a::after,
#mapx119y115 > a::after,
#mapx120y111 > a::after,
#mapx120y114 > a::after,
#mapx121y111 > a::after,
#mapx121y114 > a::after,
#mapx121y115 > a::after {
  content: "Blattalisk";
}

#mapx-196y-96 > a::after,
#mapx-193y-98 > a::after,
#mapx-185y-94 > a::after,
#mapx80y87 > a::after,
#mapx81y88 > a::after,
#mapx81y89 > a::after,
#mapx82y87 > a::after,
#mapx82y90 > a::after,
#mapx84y88 > a::after {
  content: "Bürger";
}

#mapx-508y-375 > a::after,
#mapx108y77 > a::after,
#mapx109y76 > a::after,
#mapx111y77 > a::after,
#mapx112y79 > a::after,
#mapx113y79 > a::after,
#mapx114y81 > a::after,
#mapx115y80 > a::after,
#mapx116y79 > a::after,
#mapx119y79 > a::after {
  content: "Falter";
}

#mapx85y99 > a::after,
#mapx86y100 > a::after,
#mapx87y99 > a::after {
  content: "Käfer";
}

.frameitembg select[name="z_pos_id"] option[value="290"] {
  font-weight: bold;
}
