#mapx70y105 > a:after {
    content: "Onlo";
}

#mapx70y108 > a:after {
    content: "Onlo";
}

#mapx71y105 > a:after {
    content: "Onlo";
}

#mapx71y107 > a:after {
    content: "Onlo";
}

#mapx72y106 > a:after {
    content: "Onlo";
}

#mapx73y105 > a:after {
    content: "Onlo";
}

#mapx73y106 > a:after {
    content: "Onlo";
}

#mapx74y104 > a:after {
    content: "Onlo";
}

#mapx50y84 > a:after {
    content: "Ektofron";
}

#mapx51y82 > a:after {
    content: "Ektofron";
}

#mapx51y85 > a:after {
    content: "Ektofron";
}

#mapx55y88 > a:after {
    content: "Ektofron";
}

#mapx57y88 > a:after {
    content: "Ektofron";
}

#mapx58y88 > a:after {
    content: "Ektofron";
}

#mapx58y91 > a:after {
    content: "Ektofron";
}

#mapx59y84 > a:after {
    content: "Ektofron";
}

#mapx59y88 > a:after {
    content: "Ektofron";
}

#mapx59y92 > a:after {
    content: "Ektofron";
}

#mapx59y93 > a:after {
    content: "Ektofron";
}

#mapx60y87 > a:after {
    content: "Ektofron";
}

#mapx60y88 > a:after {
    content: "Ektofron";
}

#mapx60y92 > a:after {
    content: "Ektofron";
}

#mapx119y111 > a:after {
    content: "Blattalisk";
}

#mapx119y114 > a:after {
    content: "Blattalisk";
}

#mapx119y115 > a:after {
    content: "Blattalisk";
}

#mapx120y111 > a:after {
    content: "Blattalisk";
}

#mapx120y114 > a:after {
    content: "Blattalisk";
}

#mapx121y111 > a:after {
    content: "Blattalisk";
}

#mapx121y114 > a:after {
    content: "Blattalisk";
}

#mapx121y115 > a:after {
    content: "Blattalisk";
}

#mapx-196y-96 > a:after {
    content: "Bürger";
}

#mapx-193y-98 > a:after {
    content: "Bürger";
}

#mapx-185y-94 > a:after {
    content: "Bürger";
}

#mapx80y87 > a:after {
    content: "Bürger";
}

#mapx81y88 > a:after {
    content: "Bürger";
}

#mapx81y89 > a:after {
    content: "Bürger";
}

#mapx82y87 > a:after {
    content: "Bürger";
}

#mapx82y90 > a:after {
    content: "Bürger";
}

#mapx84y88 > a:after {
    content: "Bürger";
}

#mapx-508y-375 > a:after {
    content: "Falter";
}

#mapx108y77 > a:after {
    content: "Falter";
}

#mapx109y76 > a:after {
    content: "Falter";
}

#mapx111y77 > a:after {
    content: "Falter";
}

#mapx112y79 > a:after {
    content: "Falter";
}

#mapx113y79 > a:after {
    content: "Falter";
}

#mapx114y81 > a:after {
    content: "Falter";
}

#mapx115y80 > a:after {
    content: "Falter";
}

#mapx116y79 > a:after {
    content: "Falter";
}

#mapx119y79 > a:after {
    content: "Falter";
}

#mapx85y99 > a:after {
    content: "Käfer";
}

#mapx86y100 > a:after {
    content: "Käfer";
}

#mapx87y99 > a:after {
    content: "Käfer";
}

.frameitembg select[name="z_pos_id"] option[value="290"] {
    font-weight: bold;
}
